<!DOCTYPE html>
<html>
<head>
    <title>YayHoo Search Engine</title>
    <% include ../partials/styles.ejs %>
</head>
<body>
  <% include ../partials/header.ejs %>
  <main>
    <h2>Categories</h2>
    <ul class="categories">
        <% items.forEach( item => { %>

            <li><a href="/links/<%= item.category %>/<%= item.id %>"><%= item.category %></a></li>

        <% }); %>
    </ul>
  </main>
  <% include ../partials/footer.ejs %>
  <% include ../partials/scripts.ejs %>
</body>
</html>