* {
    box-sizing:border-box;
}

body {
    font-family:arial;
}

header {
    background: #ccc;
    line-height: 3em;
    text-align:center;
    width: 100%;
}

footer {
    border-top: 1px solid #ccc;
    padding-top:2em;
    text-align:center;
}

header h1 {
    font-size:2em;
    font-style:bold;
}

main {
    margin:3em auto;
    width: 75%;
}

ul {
    list-style-type: none;
}

li {
    margin:.5em 1em;
}

.deck {
    overflow:hidden;
    width: 100%;
}

.hidden {
    height:0px;
}

.deck:not(.hidden) { 
    height:auto;
}

.deck.col-3 .card {
    border:1px solid #ccc;
    border-bottom:none;
    float: left;
    margin:.5em;
    overflow:hidden;
    padding:0;
    width: calc((100% / 3) - 2em);
}

.card figure img {
    height: 300px;
}

.card figure figcaption {
    background: #eee;
    border: 1px solid #ccc;
    border-top: none;
    font-size: 2em;
    line-height:1.75em;
    margin: -5px 0 0 0;
    text-align: center;
}
