@media(min-width: 960px) {

    main {
        overflow:hidden;
        height: calc(100% - 140px);
    }

    main > .content {
        height:100%;
    }

    .card {
        height:100%;
    }

    main > .content > .deck {
        height: 50%;
    }

    main > nav {
        float:left;
        height:100%;
        width: 200px;
    }

    main > aside {
        float:right;
        height:100%;
        width: 200px;
    }
}