<!DOCTYPE html>
<html>
<head>
    <title>YayHoo Search Engine</title>
    <% include ../partials/styles.ejs %>
</head>
<body>
<% include ../partials/header.ejs %>
<main>
    <h2>Add Link to <em><%= params.category %></em></h2>
    <form method="post" action="/add-link">
        <input type="hidden" name="category_id" value="<%= params.category_id %>" />
        <input type="hidden" name="category" value="<%= params.category %>" />
        <input type="text" name="title" placeholder="Link Title" />
        <input type="text" name="url" placeholder="http://...." />
        <input type="text" name="description" placeholder="Description" />
        <input type="text" name="keywords" placeholder="keyword1,keyword2,..." />
        <button>Add Link!</button>
    </form>
</main>
<% include ../partials/footer.ejs %>
<% include ../partials/scripts.ejs %>
</body>
</html>