body,html {
    height:100%;
    width:100%;
}

body {
    background:#f5f5f5;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body > header {
    background:#eee;
    border-bottom:1px solid #ddd;
    overflow:hidden;
    padding: .5em 5em;
}

body > header:after {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
}

body > header nav {
    float:right;
    line-height:2.5em;
}

body > header nav li {
    display:inline-block;
}

body > header nav li a {
    color: #333;
    text-decoration:none;
}

body > header h1 {
    float:left;
    font-size:2.5em;
    font-weight:bold;
    text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

main {
    margin:1.5em;
    min-height: calc(100% - 9em);
    text-shadow: white -1px 1px;
}

footer {
    display:block;
    height:1.5em;
}

footer {
    background:#444;
    color: #eee;
    padding: .5em 5em;
    text-align:center;
}

.deck {
    overflow:hidden;
}

.card {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.deck.col-2 .card { 
    float:left;
    width: 50%;
}

.card header {
    background: #666;
    color: #eee;
    padding: .5em;
    text-align:center;
    text-shadow:none;
    width: 100%;
}

.card .copy {
    padding:1.5em;
}

.card legend {
    display:none;
}

.card#cartContents:empty {
    display:none;
}

.card#cartContents {
    background:#fff;
    padding:1.5em;
    box-shadow: 0 3px 5px rgba(0,0,0,0.05);
    border-bottom: .5px #333 dashed;
}

form {
    margin:auto;
    width:50%;
}

input[type=number], select {
    height:1.75em;
    padding:.25em;
    width: 100%;
}

input[type=submit] {
   float:right; 
}

label {
    display:block;
    margin-bottom:1em;
}

label span {
    display:block;
    padding-bottom:.25em;
}